body {
    font-family: Raleway, sans-serif;
}

.grid {
    table-layout: fixed;
}

.grid-cell {
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
}

.grid-cell_start {
    background-color: #0f0;
}

.grid-cell_final {
    background-color: #f00;
}

.grid-cell_inaccessible {
    background-color: #00f;
}

.grid-cell_path {
    background-color: #ff0;
}

.radio {
    display: inline-block;
}

.radio-input {
    visibility: hidden;
}

.radio-label {
    border: 1px solid #0ff;
    display: block;
    padding: 10px;
}

.radio-input:checked + .radio-label {
    background-color: #0ff;
}
